# Игнорировать большие аудиофайлы
*.wav
*.mp3
*.flac
*.aiff
*.m4a

# Игнорировать временные данные Colab / Drive
RVC_Project/
drive/
separated/
__pycache__/

# Игнорировать логи
*.log
*.out
*.tmp

# Jupyter Notebook контрольные файлы
.ipynb_checkpoints/

# macOS / Windows системные файлы
.DS_Store
Thumbs.db
